
body
    padding: 0px
    margin: auto
    
    max-width: 720px
    
    font-family: 'Open Sans', sans-serif

.center
    text-align: center

#title,
#subtitle
    margin-top: 10px
    margin-bottom: 10px
    font-weight: normal
    font-size: 2.5em

#subtitle
    font-size: 1.5em

nav
    padding: 50px
    text-align: center

    > ul
        list-style: none

        padding: 0px
        margin: 0px

        display: inline-block


        > li
            float: left
            
            width: 170px 
            height: 65px
          
            line-height: 65px
            position: relative
            font-size: 17px 
            cursor: pointer


ul.drop-menu
    position: absolute
    top: 100%
    left: 0%
    width: 100%
    padding: 0

    li
        background: #d5d5d5

        &:hover
            background: #b3b3b3


#menu
    padding-top: 15px


#content
    padding: 50px

iframe
    margin: auto
    display: block

a
    text-decoration: none
    color: black
