
body
    padding: 0px
    margin: auto
    
    max-width: 720px
    
    font-family: 'Open Sans', sans-serif

.center
    text-align: center

#title,
#subtitle
    margin-top: 10px
    margin-bottom: 10px
    font-weight: normal
    font-size: 2.5em

#subtitle
    font-size: 1.5em

nav
    padding: 50px
    text-align: center

    > ul
        list-style: none

        padding: 0px
        margin: 0px

        display: inline-block

        background: #bbb

        > li
            float: left
            
            width: 170px 
            height: 65px
          
            line-height: 65px
            position: relative
            font-size: 17px 
            cursor: pointer

            &:hover
                background: #ccc

ul.drop-menu
    position: absolute
    top: 100%
    left: 0%
    width: 100%
    padding: 0

    li
        background: #d5d5d5

        &:hover
            background: #b3b3b3

ul.drop-menu li
    display: none
li:hover > ul.drop-menu li
    display: block

#menu
    padding-top: 15px

li:hover > ul.drop-menu.contact 

    perspective: 1000px

    li
        opacity: 0

        @for $i from 1 through 3
            &:nth-child(#{$i})
                animation:
                    name: contact
                    duration: 300ms
                    delay: (300ms * $i) - 300
                    timing-function: ease-in-out
                    fill-mode: forwards



@keyframes one
    0%
        background-color: #b3b3b3
    50%
        background-color: #aaa
    100%
        background-color: #b3b3b3

@keyframes two
    0%
        background-color: #aaa
    50%
        background-color: #b3b3b3
    100%
        background-color: #aaa

@keyframes three 
    0%
        background-color: #b3b3b3
    50%
        background-color: #aaa
    100%
        background-color: #b3b3b3

@keyframes contact
    0%
        opacity: 0
        transform: rotateY(-90deg) translateY(30px)
    100%
        opacity: 1
        transform: rotateY(0deg) translateY(0px)

#one
    animation: one 5s ease-in-out infinite alternate forwards
#two
    animation: two 5s ease-in-out infinite alternate forwards
#three
    animation: three 5s ease-in-out infinite alternate forwards

iframe
    margin: auto
    display: block
