@import url('https://fonts.googleapis.com/css?family=Raleway:100');

body {
    font-family: 'Raleway', sans-serif;
    background: #111111;
}

.letter:nth-child(1) a { color: #f2777a;}
.letter:nth-child(2) a { color: #f99157;}
.letter:nth-child(3) a { color: #fc6;}
.letter:nth-child(4) a { color: #9acd9a;}
.letter:nth-child(5) a { color: #6cc;}

.letter {
    font-size: 230px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.letter a {
    text-decoration: none;
}

/* mobile query */
@media only screen and (min-width:480px) { 
    .letter {
        display: block;
    }
}

@media only screen and (min-width : 768px) {
    #word {
        display: table;
        margin: 0 auto;
        padding-top: 80px;
    }

    .letter {
        display: inline-block;
    }
}
