body {
    background: #111111;
}

#content {
    width: 100%;

    color: #FF4136;
}

#page {
    /* centering the div */
    width: 50%;
    margin: 0 auto;
    max-width: 600px;

    /* top padding */
    padding-top: 30px;
}

#pfp {
    display: block;
    margin: 0 auto;

    height: 10%;
    width: 10%;

    border-radius: 50%;
}

a {
    display: block;
    margin: 0 auto;
}

.blue {
    color: #7FDBFF;
}

.inline {
    display: inline;
}

.red {
    color: #FF4136;
}